/* username and password rows in login table */
tr.inputItems>td {
	padding-bottom: 2em; /* add bottom margin for username, password inputs */
}

/* input bars for username, password */
input.userCredentials {
	width: 100%; /* make sure width consistent */
	border: none; /* get rid of input border box */
	border-bottom: 1px solid #28a745; /* make bottom border same color as search hover */
	transition: ease-in-out, width .35s ease-in-out; /* transition for focus */
}

/* input on select */
input, select {
	outline: none; /* get rid of outline on select */
}

/* user credentials input on focus, expand input and add background */
input.userCredentials:focus {
	width: 150%;
	background-color: rgb(0,0,0,0.01);
}
/* center submit buttons in their row, add bottom margin */
tr.formSubmit {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-bottom: 1em;
}
/* add top margin for login container */
.container {
	margin-top: 10em !important;
}

/* default hide registerForm */
#registerForm {
	display: none;
}
